<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d04357ac-48cc-4058-b7fd-918b6ad14290" Alias="homePage" Level="2">
  <Info>
    <Name>Home  Page</Name>
    <Icon>icon-home color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="c9935f1d-0248-4a91-8f90-9936af494022">aboutUs</Composition>
      <Composition Key="d0a08e7a-ba8c-45fd-83a5-262a8967f0d4">banner</Composition>
      <Composition Key="ce64f45b-db31-4e18-b681-5997891913e9">contact</Composition>
      <Composition Key="bcb2d5a1-1a56-4df3-bcec-1b2a2a423dc6">siteNavigationProperties</Composition>
      <Composition Key="b0badfd7-361d-47d4-81d8-2480062773a0">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0c773844-5f92-41bd-a01c-d8b370dfc6c9">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="ce64f45b-db31-4e18-b681-5997891913e9" SortOrder="0">contact</ContentType>
    <ContentType Key="c9935f1d-0248-4a91-8f90-9936af494022" SortOrder="1">aboutUs</ContentType>
    <ContentType Key="378e9bb4-5ad4-4836-957b-4e3ac86c0357" SortOrder="2">phone</ContentType>
    <ContentType Key="df40e6cc-7ff1-40ab-a9cc-c37d4f21689e" SortOrder="3">sidebar</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>dbe83885-20ac-4648-87ba-7744e0c0ae5c</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="title">Title</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>2dbbd4da-bcb4-4774-85a9-0931ce669727</Key>
      <Caption>Title</Caption>
      <Alias>title</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>