<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="378e9bb4-5ad4-4836-957b-4e3ac86c0357" Alias="phone" Level="2">
  <Info>
    <Name>Phone</Name>
    <Icon>icon-phone-ring color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="b0badfd7-361d-47d4-81d8-2480062773a0">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>Phone</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="30573c0f-c2e8-4a9c-8cd0-24aaed5e806d">Phone</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>31b6fd95-b25c-4fde-b0f8-79b4a0aa0e90</Key>
      <Name>Name Device</Name>
      <Alias>nameDevice</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="smartPhone">Smart Phone</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>efbbb01d-3bfe-464e-87d8-31a70339f464</Key>
      <Caption>Smart Phone</Caption>
      <Alias>smartPhone</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>