<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="df40e6cc-7ff1-40ab-a9cc-c37d4f21689e" Alias="sidebar" Level="2">
  <Info>
    <Name>Sidebar</Name>
    <Icon>icon-arrow-right color-light-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="a6348c02-4e8a-41cf-a399-8b5e8d3e3c99">titleBox</Composition>
    </Compositions>
    <DefaultTemplate>Sidebar</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="4ccff8e9-e303-4c56-ab98-b78aa437ac2b">Sidebar</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="02039b06-cbc8-4990-824c-88abd2a79cdd" SortOrder="0">sidebarItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>