<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fc2167a2-f25d-480e-ae3a-a42909a5468f" Alias="Banner - Images - Image Cropper" Level="1">
  <Info>
    <Name>Banner - Images - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": []
}]]></Config>
</DataType>