<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c87576ae-1523-40d9-8074-9fb1488a4a72" Alias="[MultiURLPicker] Single URL Picker" Level="1">
  <Info>
    <Name>[MultiURLPicker] Single URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>