<?xml version="1.0" encoding="utf-8"?>
<DataType Key="729ad0f9-882e-48ca-8a32-816d19e10848" Alias="[Nested] Navigation Item List" Level="1">
  <Info>
    <Name>[Nested] Navigation Item List</Name>
    <EditorAlias>Umbraco.MarkdownEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "DefaultValue": null,
  "DisplayLivePreview": false,
  "OverlaySize": "small"
}]]></Config>
</DataType>