<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e6e52f27-08c1-4250-bf54-29c4e89fe9d7" Alias="Page Image" Level="1">
  <Info>
    <Name>Page Image</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": []
}]]></Config>
</DataType>