<?xml version="1.0" encoding="utf-8"?>
<DataType Key="79748557-6b66-470a-bd13-78541ceb0ece" Alias="[Repeatable textstrings] Names" Level="1">
  <Info>
    <Name>[Repeatable textstrings] Names</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Maximum": 0,
  "Minimum": 0
}]]></Config>
</DataType>