<?xml version="1.0" encoding="utf-8"?>
<Media Key="e82807d6-c898-4840-aea5-3e65a3577135" Alias="Product07" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Product07</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-02T09:36:41</CreateDate>
    <NodeName Default="Product07" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0addr0ey/product07.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>