<?xml version="1.0" encoding="utf-8"?>
<Media Key="ca61143c-ad14-4543-a7db-146487cb6db3" Alias="Product03" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Product03</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-29T22:20:11</CreateDate>
    <NodeName Default="Product03" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hikgdsqu/product03.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>