<?xml version="1.0" encoding="utf-8"?>
<Content Key="d73468dc-cdb2-4445-a9b0-816ac120ef34" Alias="About Us" Level="2">
  <Info>
    <Parent Key="d44299e2-18e6-49e4-b111-c406cd3bcff7">Home Page</Parent>
    <Path>/HomePage/AboutUs</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutUs</ContentType>
    <CreateDate>2023-12-30T21:11:46</CreateDate>
    <NodeName Default="About Us" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e45b1aeb-45cc-4a2e-92de-3d85a49b4ea5">AboutUs</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[This is about us]]></Value>
    </description>
  </Properties>
</Content>