<?xml version="1.0" encoding="utf-8"?>
<Content Key="c2fc7c35-fddc-4170-b203-54e605c92a16" Alias="Contact" Level="2">
  <Info>
    <Parent Key="d44299e2-18e6-49e4-b111-c406cd3bcff7">Home Page</Parent>
    <Path>/HomePage/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contact</ContentType>
    <CreateDate>2023-12-30T21:11:25</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e10b8818-17ad-42f9-a0d9-b1ed60f73d7d">Contact</Template>
  </Info>
  <Properties>
    <sendContact>
      <Value><![CDATA[{
  "markup": "<p>&nbsp;</p>\n<?UMBRACO_MACRO macroAlias=\"renderUmbracoForm\" FormGuid=\"5f3b5f5e-b356-48d3-aae9-c4c2ced05a0d\" FormTheme=\"bootstrap3-horizontal\" ExcludeScripts=\"1\" RedirectToPageId=\"\" />\n<p>&nbsp;</p>\n<p>&nbsp;</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </sendContact>
  </Properties>
</Content>