<?xml version="1.0" encoding="utf-8"?>
<Content Key="d44299e2-18e6-49e4-b111-c406cd3bcff7" Alias="Home Page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomePage</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2023-12-29T16:36:14</CreateDate>
    <NodeName Default="Home Page" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0c773844-5f92-41bd-a01c-d8b370dfc6c9">HomePage</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <hide>
      <Value><![CDATA[1]]></Value>
    </hide>
    <images>
      <Value><![CDATA[[
  {
    "key": "af3c4e03-5116-49c7-a5ca-36301c9f7d0d",
    "mediaKey": "7b4a0dc9-203e-46f0-968d-fa97a4105cf6"
  },
  {
    "key": "973f1a6e-7d02-4f44-ae7d-0acc389d5003",
    "mediaKey": "f07879e4-05eb-4574-8efe-aa3003bfd4ae"
  },
  {
    "key": "50a2534c-6e75-4a0f-8606-73845a3641c2",
    "mediaKey": "ca61143c-ad14-4543-a7db-146487cb6db3"
  },
  {
    "key": "5e822754-6cb2-4f36-81a7-1bebf366943b",
    "mediaKey": "464b1ea6-6146-4782-8127-7c46c8d35c22"
  }
]]]></Value>
    </images>
    <mainNavigation>
      <Value><![CDATA[[
  {
    "name": "Home Page",
    "udi": "umb://document/d44299e218e649e4b111c406cd3bcff7"
  },
  {
    "name": "Contact",
    "udi": "umb://document/c2fc7c35fddc4170b20354e605c92a16"
  },
  {
    "name": "Smart Phone",
    "udi": "umb://document/40e0d393320a46b981f94c8ff0e513c4"
  },
  {
    "name": "About Us",
    "udi": "umb://document/d73468dccdb24445a9b0816ac120ef34"
  }
]]]></Value>
    </mainNavigation>
    <sendContact>
      <Value><![CDATA[]]></Value>
    </sendContact>
    <title>
      <Value><![CDATA[????]]></Value>
    </title>
  </Properties>
</Content>