<?xml version="1.0" encoding="utf-8"?>
<Content Key="6c4cd008-aa9f-422d-b31e-0e5a612d8c6c" Alias="Phone" Level="3">
  <Info>
    <Parent Key="8468bf83-aff8-44ab-b345-ee9bac5638f1">Sidebar</Parent>
    <Path>/HomePage/Sidebar/Phone</Path>
    <Trashed>false</Trashed>
    <ContentType>sidebarItem</ContentType>
    <CreateDate>2024-01-02T10:11:56</CreateDate>
    <NodeName Default="Phone" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b23b732c-2890-48fb-a361-60f4ee51ec3e">SidebarItem</Template>
  </Info>
  <Properties>
    <authorName>
      <Value><![CDATA[Phone]]></Value>
    </authorName>
    <bodyText>
      <Value><![CDATA[{
  "markup": "<p>phone number</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </bodyText>
    <categories>
      <Value><![CDATA[[
  "Phone"
]]]></Value>
    </categories>
    <images>
      <Value><![CDATA[umb://media/e82807d6c8984840aea53e65a3577135]]></Value>
    </images>
    <introText>
      <Value><![CDATA[iphone]]></Value>
    </introText>
    <subTitle>
      <Value><![CDATA[Iphone 15]]></Value>
    </subTitle>
    <title>
      <Value><![CDATA[This is phone]]></Value>
    </title>
  </Properties>
</Content>