<?xml version="1.0" encoding="utf-8"?>
<Content Key="8468bf83-aff8-44ab-b345-ee9bac5638f1" Alias="Sidebar" Level="2">
  <Info>
    <Parent Key="d44299e2-18e6-49e4-b111-c406cd3bcff7">Home Page</Parent>
    <Path>/HomePage/Sidebar</Path>
    <Trashed>false</Trashed>
    <ContentType>sidebar</ContentType>
    <CreateDate>2024-01-02T08:32:04</CreateDate>
    <NodeName Default="Sidebar" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4ccff8e9-e303-4c56-ab98-b78aa437ac2b">Sidebar</Template>
  </Info>
  <Properties>
    <imageCropper>
      <Value><![CDATA[{
  "src": "/media/uzzhpyiy/product03.png"
}]]></Value>
    </imageCropper>
    <subTitle>
      <Value><![CDATA[This is sidebar]]></Value>
    </subTitle>
    <title>
      <Value><![CDATA[Sidebar]]></Value>
    </title>
  </Properties>
</Content>