<?xml version="1.0" encoding="utf-8"?>
<Content Key="40e0d393-320a-46b9-81f9-4c8ff0e513c4" Alias="Smart Phone" Level="2">
  <Info>
    <Parent Key="d44299e2-18e6-49e4-b111-c406cd3bcff7">Home Page</Parent>
    <Path>/HomePage/SmartPhone</Path>
    <Trashed>false</Trashed>
    <ContentType>phone</ContentType>
    <CreateDate>2023-12-30T23:36:50</CreateDate>
    <NodeName Default="Smart Phone" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="30573c0f-c2e8-4a9c-8cd0-24aaed5e806d">Phone</Template>
  </Info>
  <Properties>
    <hide>
      <Value><![CDATA[1]]></Value>
    </hide>
    <nameDevice>
      <Value><![CDATA[Iphone 15]]></Value>
    </nameDevice>
  </Properties>
</Content>